﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Crud_Web_Application.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>
    </title>
    <link href="~/Assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">

 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">ASP.NET Crud</a>  
  <a class="navbar-brand"href="default.aspx">Home</a>
 <a class="navbar-brand"href="About.aspx">About</a>




  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<ul class = "navbar-nav mr-auto">


<asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">

                    <AnonymousTemplate>
                         <li class="nav-item"><a href="~/Account/Login.aspx" class="nav-link" ID="HeadLoginStatus" runat="server">Log In</a></li> 
                         
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        <li class="nav-item"><span class="bold"><asp:LoginName CssClass="nav-link" ID="HeadLoginName" runat="server" /></span></li>
                        <li class="nav-item"><asp:LoginStatus ID="HeadLoginStatus" CssClass="nav-link" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> </li>
                   
                         
                        
                    </LoggedInTemplate>
                   

                </asp:LoginView>
                </ul>

 </nav>


    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                   
                </h1>
            </div>
            
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home"/>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="About"/>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
   
        
   
    </form>
     <footer class="footer">
      <div class="container">
        <span class="text-muted">Phodaca Karen Claire - Advance Programming</span>
      </div>
   
    </footer>
    
</body>
</html>
